Package: numb
Version: 2.3
Architecture: all
Maintainer: RamoSoft <illegalism666@gmail.com>
Description: Bakcell && Azercell Tools
 Programin esas meqsedi nomre satisi zamani mumkun qeder vaxta qenaet etmekdir
